@import "./colors.css";

@font-face {
  font-family: "Nexa";
  src: url("/fonts/Nexa.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/fonts/AppleGaramond.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
}
